* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #222;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background-color: #444;
  border-radius: 20px;
  padding: 30px;
}

.card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  width: 350px;
  line-height: 1.4;
  text-align: center;
}

.card button{
  padding: 8px 20px;
  cursor: pointer;
  background-color: #222;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}