* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: darkcyan;
  color: white;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
