* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #252525;
  color: #F5F5F5;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
}

.card-container {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16;
  column-gap: 16px;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
  padding-top: 20px;
  min-width: 350px;
  background-color: #555555;
  border-radius: 20px;
  gap: 1px;
  margin-block: 20px;
}

.card .top{
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

.card .affiliation{
  background-color: #4169E1;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 700;
}

.card img{
 width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; 
}

.card em{
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  color: #4169E1;
  font-weight: 600;
}

.card h2{
  margin-top: 10px;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

.card h3{
  font-size: 1.1rem;
  color: #B6B6B6;
  margin-bottom: 10px;
  font-weight: 400;
}

.card .stats p{
 font-size: 1.1rem;
 color: #B6B6B6;
 display: flex;
 justify-content: space-between;
 align-items: last baseline;
 font-weight: 400;
}

.card .stats span{
  color: #fff;
  font-size: 1.5rem;
  padding-left: 10px;
  font-weight: 600;
}

.card h4{
  margin-top: 20px;
  padding-block: 10px;
  width: 100%;
  font-size: 1.4rem;
  border-top: 1px solid white;
  color: #FF4500;
  font-weight: 400;
}

.card h4.active{
  color: #3CB371;
}