@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-funnel: "Funnel Display", sans-serif;
}

@layer {
  li {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
  }
  li:hover {
    background-color: #4a5565;
    transform: scale(1.1);
    padding-inline: 16px;
  }
  li.active {
    background-color: #4a5565;
    transform: scale(1.1);
    padding-inline: 16px;
    gap: 14px;
  }

  .image-container {
    width: 300px;
    height: 200px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .image-container:hover {
    transform: scale(1.05);
  }

  .gallery-container::-webkit-scrollbar {
    display: none;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
