@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --color-bg: hsl(240, 6%, 10%);
  --color-surface: hsl(240, 6%, 16%);
  --color-primary: hsl(240, 5%, 84%);
  --color-secondary: hsl(215, 16%, 65%);
  --color-accent: hsl(20, 90%, 48%);
  --color-border: hsl(240, 6%, 24%);
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-border: var(--color-border);
}

@layer {
  .main-icon {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .sidebar-list {
    display: flex;
    flex-direction: column;
  }

  .sidebar-list li {
    display: flex;
    align-items: center;
    padding-block: 0.8rem;
    transition: all 0.3s ease-in-out;
  }

  .sidebar-list li:hover {
    color: var(--color-accent);
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-primary);
    padding-inline: 0.8rem;
  }

  .note-nav {
    display: flex;
    color: var(--color-secondary);
    font-weight: 500;
  }

  .note-nav li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .note-nav li:hover {
    color: var(--color-accent);
    text-decoration-line: underline;
    text-underline-offset: 10px;
  }

  .card-icon{
    width:20px;
    height: 20px;
  }

  .main::-webkit-scrollbar{
    display: none;
  }
}
