.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding-block: 20px;
  background-color: slategrey;
  padding-inline: 20px;
  border-radius: 10px;
}

.btn {
  background-color: slateblue;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
