* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.app {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.light {
  background-color: whitesmoke;
  color: #292929;
}

.dark {
  background-color: #292929;
  color: #f5f5f5;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.app {
  padding-inline: 20px 30px;
}

.btn {
  position: absolute;
  top: 50%;
  right: 50%;
  padding-inline: 10px;
  padding-block: 5px;
}

svg-container {
  width: 20ox;
  height: 20px;
}

svg {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(58, 189, 44, 0.758);
}
