@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", sans-serif;

  --color-primary: #112b42;
  --color-secondary: #868a8c;
  --color-accent: #6c7c96;
}

@layer components {
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 64px;
    padding-block: 24px;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
  }

  .items h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .items p{
    width: 15rem;
    text-align: center;
  }

  .items svg{
    width: 50px;
    height: 50px;
    fill: white;
  }

  .items:hover{
    background-color: #112b42;
    transform: scale(1.2);
    border-radius: 16px;
  }

  .image-container{
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
    /* overflow: hidden; */
  }
  
  .image-container img{
    height: 200px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 400px;
    object-fit: cover;
    overflow: hidden;
  }
}